body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-family: Arial;
}

*{
    /* border: 1px solid red; */
}

/* Header */
.header {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header_icon {
    color: #6851FF;
    font-size: 32px;
    font-weight: 700;
}

.main_div{
    justify-content: center;
    max-width: 600px;
}

/* Search Box */

.searchBox{
    width: 100% !important;
}
#searchInput {
    width: 60% !important;
    margin: 0 auto;
    margin-top: 10px;
}
#searchInput {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #6851FF;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
}

/* Buttons */
#postingBtn {
    height: 45px;
    width: 60%;
    border-radius: 25px;
    border: none;
    background: #6851FF;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

#sorting {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
#sorting select {
    height: 35px;
    width: 30%;
    font-size: 16px;
    border: 1px solid #6851FF;
    color: #6851FF;
    font-weight: 600;
}

@media (max-width:426px) {
    #postingBtn{
        width: 90%;
    }
    #sorting select{
        width: 50%;
        justify-self: center;
    }
    #sorting {
        justify-content: center;
    }
    .searchBox{
        width: 90%;
    }
}

/* Modal Background */
.modal {
    display: none;
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    border: 1px solid #6851FF;
}

/* Modal Box */
.modal-content {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.closeBtn {
    cursor: pointer;
    font-size: 22px;
    float: right;
    color: #6851FF;
}

/* Post Cards */
.postCard {
    width: 90%;
    background: white;
    padding: 15px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    justify-content: left !important;  

}
.post_actions {
    margin-top: 10px;
}
.post_actions button {
    margin-right: 10px;
    cursor: pointer;
}
.postCard img {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}
.postCard button{
    width: 30%;
    height: 35px;
    border-radius: 25px;
    border: 1px solid #6851FF;
    background-color: white;
    color: #6851FF;
    font-weight: 600;
}
.searchBox {
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
}

.searchBox #searchInput {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #6851FF;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
}

@media (max-width:425px) {
    .searchBox{
        width: 90%;
    }
}

.mained_div{
    display: flex;
    flex-wrap:wrap;
}

.side_bar{

}